<div class="body">
  <form [formGroup]="detailsForm" (ngSubmit)="save()" class="form-container">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field short2">
        <mat-label>Title</mat-label>
        <mat-select formControlName="title" [disabled]="!isEditing">
          <mat-option value="Mr">Mr</mat-option>
          <mat-option value="Mrs">Mrs</mat-option>
          <mat-option value="Ms">Ms</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="name" placeholder="First Name" [disabled]="!isEditing" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName" placeholder="Middle Name" [disabled]="!isEditing" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Last Name" [disabled]="!isEditing" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <!-- <mat-button-toggle-group [(ngModel)]="user.gender" formControlName="gender" class="gender-toggle" exclusive [disabled]="!isEditing">
        <mat-label>Gender*</mat-label>
        <mat-button-toggle [disabled]="!isEditing" value="Male"><mat-icon>person</mat-icon> Male</mat-button-toggle>
        <mat-button-toggle [disabled]="!isEditing" value="Female"><mat-icon>face</mat-icon> Female</mat-button-toggle>
      </mat-button-toggle-group> -->

      <!-- Gender -->
      <mat-form-field appearance="outline" class="form-field short">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="other">Other</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="detailsForm.get('gender')?.invalid && detailsForm.get('gender')?.touched">
        Gender is required.
        </mat-error> -->
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Date Of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" [disabled]="!isEditing" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field short">
        <mat-label>Age</mat-label>
        <input matInput type="integer" formControlName="age" placeholder="Age" maxlength="2" (keypress)="allowOnlyNumbers($event)" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" formControlName="email" [disabled]="!isEditing" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Mobile No</mat-label>
        <input matInput type="tel" formControlName="mobile" maxlength="10" [disabled]="!isEditing" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" [disabled]="!isEditing" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field short">
        <mat-label>Mandal/Area</mat-label>
        <input matInput formControlName="mandal" [disabled]="!isEditing" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Country</mat-label>
        <mat-select
         formControlName="country"
         [disabled]="!isEditing">
          <mat-option *ngFor="let country of countries" [value]="country">
            {{ country }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>State</mat-label>
        <mat-select formControlName="state" [disabled]="!isEditing">
          <mat-option *ngFor="let state of states" [value]="state">
            {{ state }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>City</mat-label>
        <mat-select formControlName="city" [disabled]="!isEditing">
          <mat-option *ngFor="let city of cities" [value]="city">
            {{ city }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Zipcode/Postalcode</mat-label>
        <input matInput formControlName="zip" [disabled]="!isEditing" />
      </mat-form-field>
    </div>

    <div class="submit-button-container">
      <button mat-flat-button color="primary" (click)="save()" [disabled]="!isEditing">Save</button>
      <button mat-stroked-button color="primary" (click)="toggleEdit()">{{ isEditing ? 'Cancel' : 'Edit' }}</button>
    </div>
  </form>
</div>
