.body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


  .form-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .form-field {
    flex: 1;

    &.short2 {
      // flex: 0.5;
      max-width: 90px;
    }

    &.short {
      // flex: 0.5;
      max-width: 250px;
    }

    Mat-label {
      font-size: 12px;
      color: #595e62;
    }
  }

  .gender-toggle {
    display: flex;
    width: 270px;
    height: 55px;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
  }

  .submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

