<div class="patient-history-container">
  <!-- Patient Profile Section -->
  <div class="profile">
    <mat-card class="profile-card">
      <mat-card-title>Patient History</mat-card-title>
      <mat-card-header class="header">
        <div class="image">
          <img src="boy.png" alt="img" />
        </div>
        <legend class="subtitle">{{ patientName }} | {{ patientAge }} | {{ patientGender }}</legend>
      </mat-card-header>
      <mat-card-content>
        <div class="profile-info">
          <div><strong>Health Records: </strong>{{ healthRecords }}</div>
          <div><strong>Blood Group: </strong>{{ bloodGroup }}</div>
          <div><strong>Height: </strong>{{ height }}</div>
          <div><strong>Weight: </strong>{{ weight }}</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Editable Sections -->
  <div class="editable-sections">
    <mat-card *ngFor="let section of sections">
      <div class="section-header">
        <mat-panel-title><mat-icon>settings</mat-icon> {{ section.title }}</mat-panel-title>
        <button mat-button (click)="editSection(section)">Edit</button>
      </div>
      <div class="section-content">
        <div>{{ section.content }}</div>
      </div>
    </mat-card>
  </div>
</div>
