/* Main Layout */
.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.header {
  width: 100%;
  height: 60px;
  background-color: #007bff;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #dee2e6;
}

.toggle-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.profile-layout {
  width: 100%;
  display: flex;
  flex: 1;
  height: calc(100% - 60px);
}

.sidebar {
  width: 14%;
  border-right: 1px solid #dee2e6;
  // width: 250px;
  // background-color: #f8f9fa;
  // border-right: 1px solid #dee2e6;
  // padding: 16px;
  // transition: width 0.3s ease;
}

.sidebar.closed {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.content {
  width: 100%;
  flex: 1;
  padding: 10px;
}

.footer {
  bottom: 0;
  text-align: center;
  p {
    font-size: 10px;
  }
}

