<head>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<app-myheader class="header"></app-myheader>

<mat-toolbar color="primary" class="toolbar-second-line">
  <!-- Back Arrow Button -->
  <button mat-icon-button class="back-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="cart-title">Your Cart</span>
  <div class="spacer"></div>
  <!-- Location Section -->
  <mat-card class="location-card">
    <mat-card-content class="location-section">
      <mat-icon>location_on</mat-icon>
      <div>
        <p class="location-text">{{ locationDetails }}</p>
      </div>
      <button mat-icon-button class="dropdown-icon">
        <mat-icon class="dropdown-icon">expand_more</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</mat-toolbar>

<!-- Cart Section -->
<div class="cart-container">
  <mat-card class="cart-card">
    <mat-card-content>
      <mat-stepper #stepper [linear]="true" class="stepper" (selectionChange)="onStepChange($event)">

        <!-- Step 1: Cart -->
        <mat-step label="Cart">
          <p>Cart Details</p>
          <legend>{{ cartItems.length }} Cart Items</legend>

          <mat-card class="patient-card" *ngFor="let patient of cartItems; let i = index">
            <!-- Patient Details -->
            <div class="item-details">
              <legend class="patient-name">
                <mat-icon>person</mat-icon>
                {{ patient.patientName }}
              </legend>
            </div>

            <!-- List of Tests for this Patient -->
            <mat-card class="test-card" *ngFor="let test of patient.tests">
              <div>
                <p class="test-name">
                  <mat-icon>home</mat-icon>
                  {{ test.testName }}
                </p>
              </div>
              <div class="item-price">
                <span>₹{{ test.price }}/-</span>
                <mat-icon
                  color="warn"
                  class="delete-icon"
                  (click)="removeTest(patient.id, test.id)"
                  >delete</mat-icon
                >
              </div>
            </mat-card>
            <!-- Add Test Button for Each Patient -->
            <button mat-button class="add-more-tests" (click)="addTest(patient.id)">
              <mat-icon>add_circle</mat-icon>
              Add More Tests or Health Check Packages
            </button>
            </mat-card>

            <!-- Add Patient Button -->
            <div class="button-container">
              <button mat-flat-button class="add-another-patient" (click)="addAnotherPatient()">
                <mat-icon class="big-icon">person_add</mat-icon>
                <span class="button-text">Add Another Patient</span>
              </button>
            </div>

            </mat-step>



            <!-- Step 2: Cart -->
            <mat-step label="Home Slot">
              <p>Home Slot Details</p>
              <div class="step-content">
                <mat-card class="home-slot-card">
                  <div>
                    <p>
                      <mat-icon>pin_drop</mat-icon>{{ locationDetails }}
                    </p>
                    <!-- Change button -->
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="toggleForm()"
                    >
                      <mat-icon *ngIf="!showForm">edit</mat-icon>
                      <mat-icon *ngIf="showForm">close</mat-icon>
                      {{ showForm ? 'Cancel' : 'Change' }}
                    </button>
                  </div>

                  <!-- Form Fields -->
                  <div *ngIf="showForm">
                    <div>
                      <label>Phlebo will visit at this address</label>
                      <mat-form-field>
                        <mat-label>Address Line 1</mat-label>
                        <input matInput [(ngModel)]="addressLine1" placeholder="Enter Address Line 1" required />
                      </mat-form-field>
                    </div>
                    <div class="second-line">
                      <div class="address-container">
                        <!-- Address Line 2 Input -->
                        <mat-form-field class="address-field">
                          <mat-label>Address Line 2</mat-label>
                          <input matInput [(ngModel)]="addressLine2" placeholder="Enter Address Line 2" />
                        </mat-form-field>

                        <!-- Address Type Buttons -->
                        <div class="address-type">
                          <button mat-stroked-button>
                            <mat-icon>home</mat-icon>
                            Home
                          </button>
                          <button mat-stroked-button>
                            <mat-icon>work</mat-icon>
                            Work
                          </button>
                          <button mat-stroked-button>
                            <mat-icon>location_on</mat-icon>
                            Others
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </mat-card>
                <mat-card class="updates-card">
                  <label>Updates/Reports will be sent on</label>
                  <div class="input-container">
                    <mat-form-field class="phone-field">
                      <mat-label>Phone*</mat-label>
                      <input matInput [(ngModel)]="phone" placeholder="Enter Phone Number" />
                    </mat-form-field>
                    <mat-form-field class="email-field">
                      <mat-label>Email ID*</mat-label>
                      <input matInput [(ngModel)]="email" placeholder="Enter Email" />
                    </mat-form-field>
                  </div>
                </mat-card>

                <!-- date slot section -->
                <div class="date-selection-container">
                  <h3>Select Date for Home Sample Collection</h3>

                  <div class="date-slider">
                    <button mat-icon-button (click)="prevDate()" [disabled]="currentIndex === 0">
                      <mat-icon>chevron_left</mat-icon>
                    </button>

                    <div class="date-cards">
                      <div
                        *ngFor="let date of visibleDates; let i = index"
                        [ngClass]="{ 'selected-date': i === selectedDateIndex }"
                        class="date-card"
                        (click)="selectDate(i)"
                      >
                        <div class="date">{{ date.day }}</div>
                        <div class="day">{{ date.weekday }}</div>
                        <div class="status" *ngIf="date.isAvailable">Available</div>
                      </div>
                    </div>

                    <button
                      mat-icon-button
                      (click)="nextDate()"
                      [disabled]="currentIndex + visibleCount >= availableDates.length"
                    >
                      <mat-icon>chevron_right</mat-icon>
                    </button>
                  </div>
                </div>

                <!-- time slot section -->
                <div class="time-slot-container">
                  <h3>Select Time Slot</h3>

                  <mat-card class="time-slot-card">
                    <!-- Morning Slots -->
                    <div class="slot-section">
                      <div class="slot-header">
                        <mat-icon>light_mode</mat-icon>
                        Morning Slots (AM)
                      </div>
                      <div class="slot-buttons">
                        <button
                          mat-stroked-button
                          *ngFor="let slot of morningSlots; let i = index"
                          [ngClass]="{ 'selected-slot': selectedSlot === slot }"
                          (click)="selectSlot(slot)"
                        >
                          <span class="time">
                            <strong>{{ slot.start }}</strong> - <span>{{ slot.end }}</span>
                          </span>
                        </button>
                      </div>
                    </div>

                    <!-- Afternoon Slots -->
                    <div class="slot-section">
                      <div class="slot-header">
                        <mat-icon>wb_sunny</mat-icon>
                        Afternoon Slots (PM)
                      </div>
                      <div class="slot-buttons">
                        <button
                          mat-stroked-button
                          *ngFor="let slot of afternoonSlots; let i = index"
                          [ngClass]="{ 'selected-slot': selectedSlot === slot }"
                          (click)="selectSlot(slot)"
                        >
                          <span class="time">
                            <strong>{{ slot.start }}</strong> - <span>{{ slot.end }}</span>
                          </span>
                        </button>
                      </div>
                    </div>
                  </mat-card>
                </div>
              </div>
            </mat-step>
            <mat-step label="Payment">
              <p>Payment Details</p>

              <div class="payment-section">
                <h3>Appointment Details</h3>
                <mat-card class="appointment-card">
                  <div class="appointment-info">
                    <div class="appointment-header">
                      <mat-icon color="warn">home</mat-icon>
                      Home Sample Collection
                    </div>
                    <div class="contact-info">
                      <p><mat-icon>call</mat-icon> {{ phone }}</p>
                      <p><mat-icon>email</mat-icon> {{ email }}</p>
                    </div>
                    <div class="date-time-info">
                      <p><mat-icon>calendar_today</mat-icon> {{ selectedDate.day }}, {{ selectedDate.weekday }}</p>
                      <p><mat-icon>schedule</mat-icon> {{ selectedSlot1.start }} - {{ selectedSlot1.end }}</p>
                    </div>
                    <div class="address-info">
                      <p>
                        <mat-icon>location_on</mat-icon>
                        {{ locationDetails }}
                      </p>
                    </div>
                  </div>
                </mat-card>

                <h3>Order Details</h3>
                <mat-card class="order-card" *ngFor="let item of cartItems">
                  <div class="order-patient">
                    <mat-icon>person</mat-icon>
                    <div>
                      <h4>{{ item.patientName }}</h4>
                      <p>Colleague, Male, 26</p>
                    </div>
                  </div>
                  <div class="order-tests">
                    <div *ngFor="let test of item.tests" class="test-item">
                      <span>{{ test.testName }}</span>
                      <span>₹ {{ test.price }}</span>
                    </div>
                  </div>
                </mat-card>

                <div class="total-amount">
                  <h3>Total Amount:</h3>
                  <h3>₹ {{ totalAmount }}</h3>
                </div>
              </div>

            </mat-step>
        </mat-stepper>
      </mat-card-content>
    </mat-card>





    <!-- Summary Section -->
    <mat-card class="summary-card">
      <legend>Estimated Amount</legend>
      <span class="amount">₹{{ totalAmount }}/-</span>
      <!-- <button mat-raised-button color="primary" (click)="addAnotherPatient()">
       Add Patient Details
      </button> -->

      <button
        mat-raised-button
        color="primary"
        (click)="addAnotherPatient()"
        *ngIf="!isHomeSlotActive && !ispaymentSlotActive">
        <mat-icon>add_circle</mat-icon>
        Add Patient Details
      </button>

      <button mat-raised-button color="primary" (click)="saveandnext(stepper)"
        *ngIf="!ispaymentSlotActive">
        <mat-icon>play_arrow</mat-icon>
        <span class="button-text">Continue</span>
      </button>

      <button mat-raised-button color="primary" (click)="proceedtopay()"
        *ngIf="ispaymentSlotActive" style="color: #e36464;">
        <mat-icon>payment</mat-icon>
        <span class="button-text">Proceed To Pay</span>
      </button>

      <p class="disclaimer">
        <mat-icon>info</mat-icon>
        Test Prices may vary according to the Lab Centre. The actual price will
        be shown after Lab centre is selected during checkout.
      </p>
    </mat-card>
</div>




