<div class="dashboard-container">
  <!-- Search Bar -->
  <div class="search-bar">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label class="typewriter-animation">Search Doctors, Specialisations, Investigations . . .</mat-label>
      <input matInput />
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <!-- Popular Services -->
  <div class="section-title">Popular Services Available</div>
  <div class="services">
    <mat-card
    class="service-card"
    *ngFor="let service of services"
    [routerLink]="service.route"
    >
    <img [src]="service.icon" alt="Service Icon" />
    <div class="service-title">{{ service.title }}</div>
  </mat-card>
  </div>

  <!-- Featured Health Check-Up Packages -->
  <mat-card class="health-checkups">
    <div class="section-header">
      <div class="section-title">Featured Health Check-up Packages</div>
      <a href="#" class="view-all">View All</a>
    </div>
    <div class="packages">
      <mat-card class="package-card" *ngFor="let package of packages">
        <div class="package-title">{{ package.title }}</div>
        <div class="package-details">
          <mat-icon>hourglass_empty</mat-icon> Reports in {{ package.time }}
        </div>
        <div class="package-tests">{{ package.tests }} Tests</div>
      </mat-card>
    </div>
  </mat-card>

</div>
