// @keyframes gentleZoom {
//   0% {
//     transform: scale(1);
//     opacity: 0.8;
//   }
//   50% {
//     transform: scale(1.02);
//     opacity: 1;
//   }
//   100% {
//     transform: scale(1);
//     opacity: 0.8;
//   }
// }

/* Typewriter Animation */
.typewriter-animation {
  display: inline-block;
  overflow: hidden;
  // color: rgb(40, 112, 188);
  color: black;
  animation: typing 3s steps(40) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.dashboard-container {
  // background-image: url('/health_environment.jpg');
  // background-size: cover;
  // background-position: center;
  // animation: gentleZoom 30s ease-in-out infinite;
  background: url('/mainbcakground.avif') no-repeat center center/cover;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.full-width {
  width: 100%;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  color: #002855;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: calc(3% + 20px);
  padding: 10px;
}


.service-card {
  text-align: center;
  padding: 20px;
  width: 300px;
  height: 200px;
  background-color: white;
}

.service-card:hover {
  transform: scale(1.1);
}

.service-card img {
  align-self: center;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.service-title {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.health-checkups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid rgb(117, 115, 115);
  border-radius: 8px;
  gap: 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-all {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.view-all:hover {
  text-decoration:none;
  transform: scale(1.1);
}

.packages {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.package-card {
  padding: 20px;
  width: 300px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.package-card:hover {
  transform: scaleY(1.05);
  // gap: calc(3% + 20px);
}


.package-title {
  font-size: 14px;
  font-weight: bold;
  color: #002855;
  margin-bottom: 10px;
}

.package-details {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.package-tests {
  font-size: 14px;
  color: #007bff;
  font-weight: bold;
}
