.sidebar {
  width: 12%;
  height: 100vh;
  background-color: rgba(244, 237, 237, 0.342);
  color: #595e62;
  position: fixed;
  transition: transform 0.3s ease;
  border-right: 1px solid #dee2e6;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar legend {
  font-size: 1.4em;
  font-weight: bold;
  padding: 15px;
}

.sidebar a.active-link {
  background-color: lightblue;
  border-radius: 5px;
}

.sidebar ul {
  list-style-type: none;
  padding: 10px;
}

// .sidebar ul li {
//   margin: 10px 0;
// }

.li {
  margin: 5px;
  padding:8px 0px 8px 10px;
  color: #15558d;
  font-weight: 600;
  cursor: pointer;
  }


.sidebar ul li a {
  color: #595e62;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sidebar ul li a:hover {
  background:lightblue;
  border-radius: 5px;
}
