<h2 mat-dialog-title>Add Family Member</h2>
<mat-dialog-content>
  <form [formGroup]="patientForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" (dateChange)="onDateChange($event)" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Age</mat-label>
      <input matInput formControlName="age" [disabled]="true" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="patientForm.invalid">Save</button>
</mat-dialog-actions>
