<div class="body">
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <h6>Signup</h6>
    <div class="multi-color-line"></div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter your name" />
      <mat-error *ngIf="signupForm.get('name')?.hasError('required')">
        Name is required.
      </mat-error>
      <mat-error *ngIf="signupForm.get('name')?.hasError('minlength')">
        Name must be at least 3 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter your email" />
      <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
        Enter a valid email.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mobile No</mat-label>
      <input matInput formControlName="mobile" placeholder="Enter your mobile number" />
      <mat-error *ngIf="signupForm.get('mobile')?.hasError('required')">
        Mobile number is required.
      </mat-error>
      <mat-error *ngIf="signupForm.get('mobile')?.hasError('pattern')">
        Enter a valid 10-digit mobile number.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Enter your password" />
      <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
        Password is required.
      </mat-error>
      <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">
        Password must be at least 6 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm your password" />
      <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('required')">
        Confirm Password is required.
      </mat-error>
      <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('passwordsMismatch')">
        Passwords do not match.
      </mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" class="full-width" [disabled]="signupForm.invalid">
      Signup
    </button>
  </form>
</div>

