<div class="body">
  <div class="logo-section">
    <a [routerLink]="['/']" class="logo-button">
      <img src="greylogo.png" alt="Logo" class="logo" />
    </a>
  </div>

  <div class="otp-container">
    <!-- otp Number Input -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Enter OTP</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter OTP"
        [(ngModel)]="otp"
        (input)="validateForm()"
        (keypress)="allowOnlyNumbers($event)"
        maxlength="4"
      />

    </mat-form-field>

    <div class="resend-section">
      <!-- OTP Info -->
      <p class="info-text">OTP sent to the given mobile number</p>

      <button
        mat-flat-button
        color="primary"
        class="button-class"
        (click)="resendOtp()"
        [disabled]="isResendDisabled"
      >
        Resend OTP
      </button>
      <span *ngIf="isResendDisabled">
        {{ timer }}
      </span>
    </div>

    <!-- Checkbox -->
    <mat-checkbox
      class="checkbox"
      [(ngModel)]="isWhatsAppChecked"
    >
    <p class="checkbox-text">Share health tips, appointment details, and offers with me on WhatsApp</p>
    </mat-checkbox>

    <!-- Continue Button -->
    <button
      mat-flat-button
      color="primary"
      class="full-width"
      [disabled]="!isFormValid"
      (click)="onSubmitOtp()"
    >
      Continue
    </button>
  </div>

  <div class="img-section">
    <img src="signinbottom.png" alt="Logo" class="image" />
  </div>
</div>
